<article class="card">
  <img class="card-img-top" [src]="product.image" alt="">
  <div class="card-body">
    <h5>{{product.title}}</h5>
    <span class="price" *ngIf="product.price">{{product.price | currency}}</span>
    <div class="overlay">
      <div class="row actions">
        <button class="btn btn-default col-9" [routerLink]="['/details',product.id]" title="Ver detalles del producto">Detalles</button>
        <button type="button" class="btn btn-primary" (click)="addToCart()" title="Agregar al carro"><fa [name]="isInCart ? 'minus' : 'plus'"></fa></button>
      </div>
      <p *ngIf="product.shortDescription">{{product.shortDescription}}</p>
      <span class="badge-wrapper">
        <span class="badge badge-info" *ngFor="let lab of product.labels">{{lab}}</span>
      </span>
    </div>
  </div>
  <span class="discount" *ngIf="product.discount">
    <span class="content">
      {{product.discount}}% <br>OFF
    </span>
  </span>
</article>