.card{
  position: relative;
}
img{
  width: 100%;
}
.price{
  color: #3498db;
  display: block;
  font-size: 23px;
  margin: 5px 0;
}
.badge{
  margin-right: 4px; 
}
.card-body{
  min-height: 140px;
  max-height: 150px;
}
.discount{
  position: absolute;
  top: 0;
  right: 0;
  border-top: 40px solid #3498db;
  width: 0;
  height: 0;
  border-right: 40px solid #3498db;
  border-bottom: 40px solid transparent;
  border-left: 40px solid transparent;
  .content{
    position: absolute;
    top: -30px;
    right: -30px;
    color: #fff;
    font-weight: bold;
    line-height: 14px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}