<!-- <div class="login-wrapper">
  <form name="login">
    <div class="input-group mb-3">
      <label for="username" class="col-12">
        Usuario:
        <input type="text" name="username" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="username">
      </label>
    </div>
    <div class="input-group mb-3">
      <label for="password" class="col-12">
        Contraseña:
        <input type="password" name="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="password">
      </label>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-primary pull-right" (click)="submit()">Entrar</button>
      <a class="btn btn-link pull-right" routerLink="index">Volver</a>

    </div>
  </form>
</div> -->
<div class="login-wrapper">

  <div class="container">
    <div class="card card-container">
      <form class="form-signin" name="login" (ngSubmit)="submit()">
        <input 
          type="email" 
          aria-label="Default" aria-describedby="inputGroup-sizing-default" 
          [(ngModel)]="username" id="username" name="username" class="form-control" placeholder="Dirección Email" required autofocus>
        <input [(ngModel)]="password" name="password" type="password" id="password" class="form-control" placeholder="Contraseña" required>
        <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin">Entrar</button>
        <a class="btn btn-lg btn-default btn-block btn-signin" routerLink="/index">Volver</a>
      </form>
    </div>
  </div>
</div>
<!-- /container -->