<header class="main-nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="index">{{site}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a *ngIf="!isLoggedin" routerLink="auth/login">
          <fa [name]="'lock'" [size]="1" [pull]="right"></fa>
        </a>
        <button *ngIf="isLoggedin" type="button" (click)="logout()">
          <fa [name]="'unlock'" [size]="1" [pull]="right"></fa>          
        </button>
      </div>
    </nav>
</header>