<span class="wrapper">
  <button class="btn btn-link" type="button" (click)="openCart()" [ngClass]="{'opened': isOpen}">
    <fa [name]="'shopping-cart'" [size]="1" [pull]="'right'"></fa>
    <span class="hasItems" *ngIf="cart.length"></span>
  </button>
  <div class="overlay" *ngIf="isOpen">
    <h5>Productos Elegidos</h5>
    <ul>
      <li *ngIf="!cartItems.length">No tienes productos seleccionados</li>
      <li *ngFor="let prod of cartItems">
        <span class="pull-left">
          <a [routerLink]="['/details',prod.id]">
            <strong>{{prod.title}}</strong>
          </a>
        </span>
        <span class="pull-right">{{prod.price | currency}}</span>
      </li>
      <li *ngIf="cartItems.length" class="totalPrice">{{total | currency}}</li>
    </ul>
    <button class="btn btn-info send" [disabled]="!cartItems.length" (click)="checkout()">Hacer Pedido</button>
  </div>
</span>
<div class="bg-action" *ngIf="isOpen" (click)="isOpen = false"></div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pedir Presupuesto</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="emailSender" (submit)="c({name: name, email: email, phone: phone})">
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Nombre</label>
        <div class="input-group">
          <input [(ngModel)]="name" name="name" id="name" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Telefono de contacto</label>
        <div class="input-group">
          <input id="phone" [(ngModel)]="phone" name="phone" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <input id="email" [(ngModel)]="email" name="email" required class="form-control">
        </div>
      </div>
    </div>
    <div class="modal-footer">
            <button class="btn btn-info pull-right" [disabled]="!name || !phone || !email" type="submit">Enviar</button>
    </div>
  </form>
</ng-template>