.promo-item{
  margin: 15px 0;
  background: #eee; 
  position: relative;
  img{
    height: 100%;
  }
  h5{
    text-transform: capitalize;
  }
  .edit{
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
  }
  .remove{
    position: absolute;
    top: 5px;
    right: 55px;
    display: none;
  }
  &:hover{
    .edit, .remove{
      display: block;
    }
  }
}